@font-face {
  font-family: 'Cubic 11';
  src: url('./Cubic_11.woff2') format('woff2');
}

@font-face {
  font-family: 'Ark Latin';
  src: url('./ark-pixel-latin.woff2') format('woff2');
  unicode-range: U+0020-00FF;
}

@font-face {
  font-family: 'Minecraft-Tenv2';
  src: url('./Minecraft-Tenv2.woff2') format('woff2');
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: 'Minecraft_AE';
  src: url('./Minecraft_AE.ttf') format('truetype');
}
